{
  "openapi": "3.0.3",
  "info": {
    "title": "Perplexity API",
    "description": "The Perplexity API allows developers to integrate powerful AI models with search capabilities.\nThis API is OpenAI-compatible for easy integration with existing applications.\n",
    "version": "1.0.0",
    "contact": {
      "url": "https://docs.perplexity.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.perplexity.ai",
      "description": "Perplexity API server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "Generates a model's response for the given chat conversation",
        "operationId": "createChatCompletion",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API key provided by Perplexity"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use",
            "enum": [
              "sonar-deep-research",
              "sonar-reasoning-pro",
              "sonar-pro",
              "sonar",
              "r1-1776"
            ],
            "example": "sonar-pro"
          },
          "messages": {
            "type": "array",
            "description": "A list of messages comprising the conversation so far",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "example": [
              {
                "role": "system",
                "content": "Be precise and concise."
              },
              {
                "role": "user",
                "content": "How many stars are there in our galaxy?"
              }
            ]
          },
          "max_tokens": {
            "type": "integer",
            "description": "The maximum number of completion tokens returned by the API.\nThe number of tokens requested in max_tokens plus the number of prompt tokens sent in messages\nmust not exceed the context window token limit of model requested.\n",
            "example": 1024
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 2,
            "description": "What sampling temperature to use, between 0 and 2.\nHigher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.\n",
            "default": 1,
            "example": 0.7
          },
          "top_p": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass.\nSo 0.1 means only the tokens comprising the top 10% probability mass are considered.\n",
            "default": 1,
            "example": 0.9
          },
          "stream": {
            "type": "boolean",
            "description": "If set, partial message deltas will be sent, like in ChatGPT.\nTokens will be sent as data-only server-sent events as they become available,\nwith the stream terminated by a data: [DONE] message.\n",
            "default": false,
            "example": false
          },
          "response_format": {
            "type": "object",
            "description": "An object specifying the format that the model must output.\nUsed for structured outputs like JSON or regex patterns.\n",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "json_schema",
                  "regex"
                ],
                "description": "The type of structured output format",
                "example": "json_schema"
              },
              "json_schema": {
                "type": "object",
                "description": "A valid JSON schema object (when type is json_schema)",
                "example": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "year_of_birth": {
                        "type": "integer"
                      },
                      "num_seasons_in_nba": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name",
                      "year_of_birth",
                      "num_seasons_in_nba"
                    ]
                  }
                }
              },
              "regex": {
                "type": "object",
                "description": "A regex pattern object (when type is regex)",
                "example": {
                  "regex": "(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)"
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the message author",
            "enum": [
              "system",
              "user",
              "assistant"
            ],
            "example": "user"
          },
          "content": {
            "type": "string",
            "description": "The content of the message",
            "example": "How many stars are there in our galaxy?"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices",
          "usage"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the chat completion",
            "example": "chatcmpl-123456789"
          },
          "object": {
            "type": "string",
            "description": "The object type, which is always 'chat.completion'",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) of when the chat completion was created",
            "example": 1677858242
          },
          "model": {
            "type": "string",
            "description": "The model used for the chat completion",
            "example": "sonar-pro"
          },
          "choices": {
            "type": "array",
            "description": "A list of chat completion choices. Can be more than one if n>1 is specified",
            "items": {
              "type": "object",
              "required": [
                "message",
                "index",
                "finish_reason"
              ],
              "properties": {
                "message": {
                  "$ref": "#/components/schemas/Message"
                },
                "index": {
                  "type": "integer",
                  "description": "The index of the choice in the list of choices",
                  "example": 0
                },
                "finish_reason": {
                  "type": "string",
                  "description": "The reason the model stopped generating tokens.\nThis could be \"stop\" if it reached a natural stopping point or a specified stop sequence,\n\"length\" if it hit the token limit, or \"content_filter\" if the content was filtered.\n",
                  "enum": [
                    "stop",
                    "length",
                    "content_filter"
                  ],
                  "example": "stop"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "Usage statistics for the completion request",
            "required": [
              "prompt_tokens",
              "completion_tokens",
              "total_tokens"
            ],
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "Number of tokens in the prompt",
                "example": 56
              },
              "completion_tokens": {
                "type": "integer",
                "description": "Number of tokens in the completion",
                "example": 31
              },
              "total_tokens": {
                "type": "integer",
                "description": "Total number of tokens used (prompt + completion)",
                "example": 87
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code"
            ],
            "properties": {
              "message": {
                "type": "string",
                "description": "A human-readable error message",
                "example": "You exceeded your current quota, please check your plan and billing details."
              },
              "type": {
                "type": "string",
                "description": "The type of error returned",
                "example": "insufficient_quota"
              },
              "code": {
                "type": "string",
                "description": "A machine-readable error code",
                "example": "quota_exceeded"
              }
            }
          }
        }
      }
    }
  }
}